<h1> Project Milestone </h1>

In [16]:
import numpy as np
import pandas as pd
import yfinance as yf
from yahoofinancials import YahooFinancials

<h2> Data Cleaning </h2>


Pull other data or find these companies.

In [7]:
fifty = pd.read_csv('../data/fifty_stocks.csv')

In [14]:
fifty.sort_values("DATE", ascending=False).head()

,DATE,TATASTEEL,WIPRO,TITAN,ULTRACEMO,TECHM,RELIANCE,SHREECEM,SUNPHARMA,TATAMOTORS,...,BPCL,BRITANNIA,ADANIPORTS,BAJAJFINSERV,BAJAJFINANCE,BHARTIARTL,AXISBANK,BAJAJ-AUTO,ASIANPAINT,UPL
2710,2021-10-14,1375.05,708.25,2564.05,7395.50,1430.80,2700.40,27956.45,841.30,497.60,...,459.30,3894.85,812.80,18488.90,7862.9,685.80,802.05,3965.90,3297.80,747.85
2709,2021-10-13,1354.30,672.60,2537.20,7350.40,1402.15,2694.95,27815.70,842.55,506.90,...,458.65,3883.70,759.00,18188.25,7929.3,689.90,794.60,3967.65,3323.50,747.45
2708,2021-10-08,1373.60,603.85,1799.20,7474.15,1323.05,2088.05,27117.65,793.35,294.20,...,444.70,3637.20,693.00,14036.50,6170.1,622.20,761.55,3797.95,2977.15,771.10
2707,2021-10-06,1114.45,554.25,1738.65,6709.65,1064.90,2183.00,28225.80,676.05,344.75,...,483.55,3576.30,846.75,11993.10,6086.4,545.15,744.25,4179.90,2950.60,838.70
2706,2021-10-05,1216.35,525.95,1455.15,6403.10,990.50,1926.20,27309.95,698.20,314.85,...,453.70,3413.80,765.45,11332.00,5497.5,572.55,715.25,3868.65,2556.95,674.60

<h2> Initial Understanding of the data </h2> 

This data consists of the prices of the stocks over the past ten years. This is generally good as a target data set but I think we can grab outside economic information that would allow us to better understand the data at each date. 

I think it is important to realize that these are target prices within this data.

In [9]:
mean_fifty = fifty.fillna(fifty.mean())

In [10]:
zero_fifty = fifty.fillna(0)

In [20]:
## We should be using 0 because it means they did not report the earnings

companies = zero_fifty.columns

In [47]:
## There are 47 of the companies
## grab in company information
### This is an example of what can be done 

tsla_df = yf.download('WIT', 
                      start='2019-01-01', 
                      end='2019-12-31', 
                      progress=False)
tsla_df.head()

            Open  High   Low  Close  Adj Close   Volume
Date
2019-01-02  5.07  5.16  5.07   5.11   5.067266   466800
2019-01-03  5.07  5.09  5.02   5.05   5.007767   676500
2019-01-04  5.05  5.08  5.02   5.06   5.017683  1356100
2019-01-07  5.07  5.11  5.04   5.06   5.017683   659700
2019-01-08  5.07  5.11  5.04   5.11   5.067266   617100

In [29]:
## pulling in inflation / interest rate data 

inflation_interest = pd.read_csv('../data/inflation.csv')

In [32]:
inflation_interest[inflation_interest.Year >= 2010].head()

,Year,Month,Day,Federal Funds Target Rate,Federal Funds Upper Target,Federal Funds Lower Target,Effective Federal Funds Rate,Real GDP (Percent Change),Unemployment Rate,Inflation Rate
814,2010,1,1,NaN,0.25,0.0,0.11,1.7,9.8,1.6
815,2010,2,1,NaN,0.25,0.0,0.13,NaN,9.8,1.3
816,2010,3,1,NaN,0.25,0.0,0.16,NaN,9.9,1.1
817,2010,4,1,NaN,0.25,0.0,0.20,3.9,9.9,0.9
818,2010,5,1,NaN,0.25,0.0,0.20,NaN,9.6,0.9

In [33]:
above_2010 = inflation_interest[inflation_interest.Year >= 2010]

In [34]:
### new dates mean fifty


def separate_dates(row):
    date

Index(['Year', 'Month', 'Day', 'Federal Funds Target Rate',
       'Federal Funds Upper Target', 'Federal Funds Lower Target',
       'Effective Federal Funds Rate', 'Real GDP (Percent Change)',
       'Unemployment Rate', 'Inflation Rate'],
      dtype='object')

Okay so now I am thinking of how am I going to make this company specific. What am I looking for? Im looking for similarities between these companies 


First I am going to apply the kmeans clustering algorithm, just to see where they are at. I think there should be a multi level approach at determing what clustering algorithm this should go into.

<h2> Kmeans Clustering Attempt </h2>